@charset "UTF-8";

body {
	height: 100%; 
	width: 100%;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

#header #logo {
	height: 100px; 
	width: auto;
}

#Profile {
	float: right;
	padding: 10px;
	padding-right: 30px;
}

#SignOut {
	float: right;
	padding: 10px;
}

#Login{
	float: right;
	padding: 10px;
}

#SignUp{
	float: right;
	padding: 10px;
	padding-right: 30px;
}

a{
	text-decoration: none;
	color: black; 
}
table{
	position:absolute;
	left:50%;
	table-layout: auto;
	border-collapse: collapse;
    font-size: 20pt;
    background: white;
    color:black;
    display: block;
  	height: 13em;
  	overflow-y: scroll;
  	font-weight: bold;
  	z-index: 2;
}
